<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<head>

    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="" rel="stylesheet">
    <title>REPORTE</title>

</head>
<body>
   <!-- <a th:href="@{/agregarEvento}" class="btn btn-primary">Agregar Evento</a> -->
    <div class="container">
        <br>
        <p><img src="/images/Documax_logo1.jpg" alt="logo" width="250" height="45" /></p>
        <h3>LIQUIDACION SERVICIO IMPRESORA</h3>
        <div class="row">
            <div class="col-12">
                <TABLE class="table table-striped table-sm  table-hover border" >
                    <tr>
                        <th>CLIENTE  </th><td th:text="${ultimoEvento.equipo.cliente.nombre}"></td>
                        <th>EQUIPO MARCA</th><td th:text="${ultimoEvento.equipo.marca.name}"></td>
                        <th>MODELO</th><td th:text="${ultimoEvento.equipo.modelo.name}"></td>
                    </tr>
                    <tr>
                        <th>Dependencia</th><td th:text="${contrato.departamento}"></td>
                        <th>SERIE</th><td th:text="${ultimoEvento.equipo.serial}"></td>
                        <th>INICIO</th><td th:text="${#dates.format (contrato.fechaContrato, 'dd/MM/yyyy')}"></td>
                    </tr>
                </TABLE>
                <h6>Información del Contrato</h6>
                <TABLE class="table  table-striped table-sm table-hover border">
                        <th>Páginas Incluidas  </th> <td th:text="${contrato.cupoPaginas}"></td>
                        <th>Costo x Página</th><td th:text=  "'$ '+ ${contrato.costoPagina}"></td>
                        <th>Costo Pág. Adicional </th><td th:text="'$ '+ ${contrato.costoPaginaAdicional}"></td>
                    </tr>
                    <tr><th>Scan Incluidos</th>
                        <td th:text="${contrato.cupoScan}"></td>
                        <th>Costo Scan Adicional</th>
                        <td th:text="'$ '+ ${contrato.costoScanAdicional}"></td>
                        <th>Cargo Básico</th>
                        <td th:text="'$ '+ ${contrato.cargoBasico}"></td>
                    </tr>
                </TABLE>
            </div>

        </div>
        <div class="">
            <h5>DATOS DE ESTA LIQUIDACIÓN</h5>
                <form action="#" th:action="@{/guardarEvento}" th:object="${newEvento}" method="POST">
                    <input type="hidden" id="equipo" name="equipo"  th:value="${ultimoEvento.equipo.id}" >
                    <TABLE class="table table-striped table-sm  table-hover border">
                        <TR><TH>FECHA DESDE</TH>
                            <td th:text="${#dates.format (ultimoEvento.fechaEvento, 'dd/MM/yyyy')}">
                            <TH>FECHA HASTA</TH><td th:text="${#dates.format (actualEvento.fechaEvento, 'dd/MM/yyyy')}"></td>
                            <TH>DIAS</TH><td th:text="${liquidacion.diasTotales}"></td></TR>
                    </TABLE>
                    <h6>Datos de Contadores</h6>
                    <TABLE class="table  table-sm  table-hover border table-bordered">
                    <tr>
                        <TH>Total Paginas:</TH><td th:text="${liquidacion.totalPaginas}" ></td>
                        <TH>Contador Anterior</TH>
                        <td th:text="${ultimoEvento.contadorTotal}" ></td>
                        <TH>Contador Actual</TH><td th:text="${actualEvento.contadorTotal}" ></td>
                    </tr>
                    <tr>
                        <TH>Total Scan</TH>
                        <td th:text="${liquidacion.totalScan}" ></td>
                        <TH>Cont. Scan Anterior:</TH>
                        <td th:text="${ultimoEvento.contadorScan}" ></td>
                        <TH>Cont. Scan Actual:</TH>
                        <td th:text="${actualEvento.contadorScan}" ></td>
                    </tr>
                        <TR><TH>Paginas Incluidas</TH>
                        <td th:text="${contrato.cupoPaginas}" ></td>
                        <TH>Valor por página:</TH>
                        <td th:text="'$ '+ ${contrato.costoPagina}" ></td>
                        <TH>Valor a pagar:</TH>
                        </td><td th:text="'$ '+ ${contrato.cargoBasico}" ></td></TR>
                    <TR><TH>Paginas Adicionales:</TH>
                        <td th:text="${liquidacion.getPagAdicionales()}" ></td>
                        <TH>Valor Pagina Adicional:</TH>
                        <td th:text="'$ '+ ${contrato.costoPaginaAdicional}" ></td>
                        <TH>Valor a pagar:</TH>
                        <td th:text="'$ '+ ${liquidacion.costoPagAdicionales}"> </td> </TR>

                    <TR><TH>Scan Adicionales:</TH>
                        <td th:text="${liquidacion.scanAdicionales}" ></td>
                        <TH>Valor Scan Adicional:</TH>
                        <td th:text="'$ '+ ${contrato.costoScanAdicional}" ></td>

                        <TH>Valor a pagar:</TH>
                        <td th:text="'$ '+ ${liquidacion.costoScanAdicional}"> </td> </TR>
                    <TR>
                        <td></td><td></td><td></td><td></td>
                        <TH>TOTAL A PAGAR</TH>
                         <td th:text="'$ '+ ${liquidacion.getTotalLiquidacion()}"> </td>
                    </TR>
                    </TABLE>
                    <TABLE>
                    <TR><TH>NOTA 1</TH>
                        <TD>   </TD>   <td th:text="${liquidacion.nota1}" ></TR>
                    <TR><TH>NOTA 2</TH>
                        <TD>   </TD>   <td th:text="${liquidacion.nota2}" ></TR>
                </TABLE>
                      <button type="submit">Guardar Evento</button>
                </form>


                <!-- <a th:text="${ultimoEvento.equipo.id}"></a>
                 <input type="text" id="equipo&&$" name="equipo"  th:value="${ultimoEvento.equipo.id}" >
                 <br>
                 <input type="date" th:field="*{fechaEvento}" placeholder="Fecha dd/MM/yyyy" >
                 <br>
                 <input type="text" th:field="*{contadorTotal}" placeholder="Contador" >
                 <input type="text" th:field="*{tipoEvento}" placeholder="Tipo Evento" >
                 <input type="text" th:field="*{detalle}" placeholder="Detalle" >
                 <a th:number="${ultimoEvento.equipo.id}"></a>
                 <button type="submit">Guardar Evento</button>
             </form>
             <TABLE BORDER>
                 <TR><TH>FECHA  </TH>
                     <td th:text="${#dates.format (ultimoEvento.fechaEvento, 'dd/MM/yyyy')}"></td><TD> <input type="text" id="equipo&&88" name="equipo"  th:value="${ultimoEvento.equipo.id}" >  </TD>  <td th:text="${ultimoEvento.equipo.cliente.nombre}"></td></TR>
                 <TR><TH>MARCA</TH>
                     <TD>   </TD> <td th:text="${ultimoEvento.equipo.marca.name}"></td></TR>
                 <TR><TH>MODELO</TH>
                     <TD>   </TD>  <td th:text="${ultimoEvento.equipo.modelo.name}"></td></TR>
                 <TR><TH>SERIE</TH>
                     <TD>   </TD>  <td th:text="${ultimoEvento.equipo.serial}"></td></TR>
                 <TR><TH>CONTRATO</TH>
                     <TD>   </TD>  <td th:text="${contrato.refContrato}"></td></TR>
                 <TR><TH>INICIO</TH>
                     <TD>   </TD>  <td th:text="${#dates.format (contrato.fechaContrato, 'dd/MM/yyyy')}"></td></TR>
             </TABLE>
         </div>

         <div style="display: inline-block">

             <input>PARRAFO</input>
             <TABLE BORDER>
                 <TR><TH>PAGINAS  </TH>
                     <TD>   </TD>  <td th:text="${contrato.cupoPaginas}"></td></TR>
                 <TR><TH>$xPágina</TH>
                     <TD>   </TD> <td th:text="${contrato.costoPagina}"></td></TR>
                 <TR><TH>$xPágAdicional</TH>
                     <TD>   </TD>  <td th:text="${contrato.costoPaginaAdicional}"></td></TR>
                 <TR><TH>$xScan</TH>
                     <TD>   </TD>  <td th:text="${contrato.cupoScan}"></td></TR>
                 <TR><TH>$xScanAdicional</TH>
                     <TD>   </TD>  <td th:text="${contrato.costoScanAdicional}"></td></TR>
                 <TR><TH>Head3</TH>
                     <TD>   </TD>  <TD>Item 9</TD></TR>
             </TABLE>
         </div>
     </div>






         <div align="center">
             <table border="1">
                 <thead>
                 <th>Consecutivo</th>
                 <th>Cliente</th>
                 <th>Marca</th>
                 <th>Modelo</th>
                 <th>Fecha Evento</th>
                 <th>Contador Total</th>
                 <th>Tipo Evento</th>
                 <th>Detalle</th>
                 </thead>
                 <tbody>
                 <tr th:object=${ultimoEvento} >
                     <td th:text="${ultimoEvento.id}"></td>
                     <td th:text="${ultimoEvento.equipo.cliente.nombre}"></td>
                     <td th:text="${ultimoEvento.equipo.marca.name}"></td>
                     <td th:text="${ultimoEvento.equipo.modelo.name}"></td>
                     <td th:text="${#dates.format (ultimoEvento.fechaEvento, 'dd/MM/yyyy')}"></td>
                     <td th:text="${ultimoEvento.contadorTotal}" ></td>
                     <td th:text="${ultimoEvento.tipoEvento}"></td>
                     <td th:text="${ultimoEvento.detalle}"></td>
                 </tr>
                 </tbody>
             </table>
         </div>
     </div>
     <div>
         <form action="#" th:action="@{/guardarEvento}" th:object="${newEvento}" method="POST">
             <a th:text="${ultimoEvento.equipo.id}"></a>
             <input type="text" id="equipo" name="equipo"  th:value="${ultimoEvento.equipo.id}" >
             <br>
             <input type="date" th:field="*{fechaEvento}" placeholder="Fecha dd/MM/yyyy" >
             <br>
             <input type="text" th:field="*{contadorTotal}" placeholder="Contador" >
             <input type="text" th:field="*{tipoEvento}" placeholder="Tipo Evento" >
             <input type="text" th:field="*{detalle}" placeholder="Detalle" >
             <a th:number="${ultimoEvento.equipo.id}"></a>
             <button type="submit">Guardar Evento</button>
         </form> -->
         <input type="button" value="Liquida" th:onclick="totalPaginas();">
     </div>
 </div>
    </div></DIV>
 <!--OTRO SCRIPTS PARA PAGINAS-->
<th:block layout:fragment="page-scripts">
    <script type="text/javascript">
function totalPaginas()
{
    var contFinal=parseInt(document.getElementById('contadorTotal').value);
    let obtenerDato = document.getElementsByTagName("td");
    var contInicio=parseInt(obtenerDato[5].innerHTML );
    var paginas=contFinal-contInicio; alert ("El numero de Páginas es: "+paginas);

    var date_1 = new Date(obtenerDato[4].innerHTML);
    var date_2 = new Date(document.getElementById('fechaEvento').value);
    console.log(date_1 , date_2);
    var day_as_milliseconds = 86400000;
    var diff_in_millisenconds = date_2 - date_1;
    var diff_in_days = diff_in_millisenconds / day_as_milliseconds;

    console.log( diff_in_days );
}
</script>
</th:block>
</body>

</html>