<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>DOT inicio</title>

</head>
<body>


<div class="container-fluid" layout:fragment="page-content">

</div>
<div>
    <div><a th:href="@{/listadoEquipos}">Listado de Equipos</a></div>
    <div><a th:href="@{/agregarEquipo}">Agregar Equipo</a></div>
    <div><a th:href="@{/listadoEventos}">Listado de Eventos</a></div>
    <div><a th:href="@{/agregarEvento}">Agregar Evento</a></div>
</div>
</body>

</html>