<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listado Eventos</title>
</head>
<body>
<h2 align="center">LISTADO DE EVENTOS</h2>

<br>
<a th:href="@{/dot}" >Ir a Inicio</a>
<br>
<a th:href="@{/agregarEquipo}" >Agregar Equipo</a>

    <div align="center">
      <table border="1">
          <thead>
            <th>Consecutivo</th>
            <th>Cliente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Fecha Evento</th>
            <th>Contador Total</th>
            <th>Tipo Evento</th>
            <th>Detalle</th>
          </thead>
          <tbody>
            <tr th:each="evento : ${listaEventos} ">
                <td th:text="${evento.id}"></td>
                <td th:text="${evento.cliente}"></td>
                <td th:text="${evento.marca}"></td>
                <td th:text="${evento.modelo}"></td>
<!--                <td th:text="${evento.fechaEvento}"></td>-->
                <td th:text="${#dates.format (evento.fechaEvento, 'dd/MM/yyyy')}"></td>
                <td th:text="${evento.contadorTotal}"></td>
                <td th:text="${evento.tipoEvento}"></td>
                <td th:text="${evento.detalle}"></td>
            </tr>
          </tbody>
      </table>
    </div>
</body>
</html>