<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>EQUIPOS</title>

</head>
<body>


<div class="container-fluid" layout:fragment="page-content">
    <h2 align="center">LISTADO DE EQUIPOS</h2>

    <a th:href="@{/agregarEquipo}" >Agregar Equipo</a>

    <div align="center" class="container my-2">
        <table class="table table-striped table-hover">
            <thead>
            <th>id</th>
            <th>Serial</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cliente</th>
            <th>Accion</th>
            </thead>
            <tbody>
            <tr th:each="equipo : ${ListaEquipos} ">
                <td th:text="${equipo.id}"></td>
                <td th:text="${equipo.serial}"></td>
                <td th:text="${equipo.marca}"></td>
                <td th:text="${equipo.modelo}"></td>
                <td th:text="${equipo.cliente}"></td>
                <td><a th:href="@{/buscarUltimaLectura/{id}(id=${equipo.id})}">TC</a></td>
            </tr>
            </tbody>
        </table>
</div>

    </div>
</body>
</html>