<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>CLIENTES</title>

</head>
<body>


<div class="container-fluid" layout:fragment="page-content">
    <div >
        <div class="container my-2">
        <h2>LISTADO DE CLIENTES</h2>
        <br>
        <a th:href="@{/agregarCliente}" class="btn btn-primary">Agregar Cliente</a>
        <br><br>


        <table  class="table table-striped table-hover">
            <thead>
            <th>ID</th>
            <th>IDENTIFICACION</th>
            <th>NOMBRE</th>
            </thead>
            <tbody>
            <tr th:each="cliente : ${listaClientes} ">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.identificacion}"></td>
                <td th:text="${cliente.nombre}"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>



</body>
</html>