<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">


<head th:replace="~{layout/layout :: head}">
    <meta charset="UTF-8">
    <title>DOT inicio</title>

</head>
<body>


<div class="container-fluid" layout:fragment="page-content">
    <div class="container my-2">
        <h1>Guardar Equipo</h1>

        <form action="#" th:action="@{/guardarEquipo}" th:object="${equipo}" method="POST">
            <input type="text" th:field="*{serial}" placeholder="Serial" >
            <input type="text" th:field="*{marca}" placeholder="Marca" >
            <input type="text" th:field="*{modelo}" placeholder="Modelo" >
            <input type="text" th:field="*{cliente}" placeholder="Cliente" >
            <button type="submit">Guardar equipo</button>
        </form>
    </div>
</div>

</body>
</html>